/* Work Sans: Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

/* Common Styles Or Basic Utilities */
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  /* Apply Work Sans: Google Font to the body */
  font-family: "Work Sans", sans-serif;
}
.container {
  max-width: 1440px;
  margin: auto;
}
.section-title {
  font-size: 45px;
  font-weight: 700;
  color: #131313;
  margin-bottom: 24px;
}
.section-subtitle {
  font-size: 45px;
  font-weight: 600;
  color: #424242;
}
.section-description {
  color: #727272;
  margin-bottom: 32px;
}
.button-primary {
  background-color: #ff900e;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  height: 64px;
  padding: 20px 25px;
  border: none;
  border-radius: 5px;
}
.button-special {
  background-color: #ff900e;
  font-size: 65px;
  font-weight: 700;
  /* line-height: 70px; */
  color: #ffffff;
  width: 342px;
  height: 200px;
  padding: 45px 42px;
  border: none;
  border-radius: 8px;
  position: absolute;
  left: -10%;
  bottom: -8%;
}
.center-align {
  text-align: center;
}
/* -------******************------- */
/* Header Section Styles Starts Here */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 28px 0px 67px 0px;
}
/* Navigation Portion Styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 102px;
}
.brand-name h2 {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-link li {
  list-style: none;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
  margin-right: 50px;
}
/* Banner Portion Styles */
.header-title h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #131313;
  margin-bottom: 32px;
}
.header-description p {
  color: #727272;
  margin-bottom: 32px;
}
.header-button {
  margin-bottom: 50px;
}
.banner-image-container img {
  width: 100%;
  /* max-height: 700px; */
}
/* Header Section Styles Ends Here */

/* -------******************------- */
/* ---Our Features Section Styles */
.our-features-section {
  margin-top: 130px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.our-features-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.primary-special-text {
  color: #ff900e;
}
.secondary-special-text {
  font-weight: 500;
  color: #727272;
}

/* -------******************------- */
/* ---Features List Section Styles */
.features-list-section {
  margin-top: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.features-list-section > div > h2 {
  border-left: 5px solid #ff900e;
  padding-left: 21px;
}
.features-list-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 20px;
}
.feature {
  height: 171px;
  max-width: 586px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border: none;
  border-radius: 8px;
  background: #ffffff;
  padding: 30px;
}
.feature > h3 {
  font-size: 20px;
  font-weight: 600;
  color: #131313;
  margin-bottom: 10px;
}

/* -------******************------- */
/* (Some Facts): Our Success Section Styles */
.our-success-section {
  margin-top: 130px;
}
.our-success-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 68.8px;
}
.our-success {
  border: 1px solid #ff900e;
  border-radius: 8px;
  padding: 45px 35px;
  text-align: center;
  width: 241.83px;
  height: 241.83px;
  transition: background 2s, transform 2s;
}
.our-success:hover {
  border: 2px solid #ff900e;
  background: rgba(255, 144, 14, 0.1);
  transform: rotate(90deg);
}
.our-success > p {
  font-size: 20px;
  font-weight: 600;
  color: #727272;
}

/* -------******************------- */
/* Our Sponsors Styles */
.our-sponsors-section {
  margin-top: 180px;
  margin-bottom: 130px;
}
.our-sponsors-section > h2 {
  margin-bottom: 24px;
}
.our-sponsors-section > p {
  margin-bottom: 50px;
}
.our-sponsors-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Convert the images to grayscale: */
  filter: grayscale(100%);
}

/* -------******************------- */
/* Contact Us Styles */
.contact-us-section {
  margin-bottom: 130px;
  background: rgba(255, 144, 14, 0.1);
  padding: 67px 0px;
  border-radius: 10px;
}
.contact-us-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-us-container form input[type="text"],
input[type="email"] {
  height: 64px;
}
.contact-us-container form input[type="text"],
input[type="email"],
textarea {
  border: 1px solid #ff990e;
  border-radius: 5px;
  padding: 8px 0px 8px 12px;
  /* color: #fff; */
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 16px;
}

/* -------******************------- */
/* Footer Styles */
footer {
  margin-bottom: 216px;
}
.footer-container {
  background: #fff4e7;
  border-radius: 8px;
  padding: 39px 0px 38px 0px;
}
.footer-container > p {
  font-size: 20px;
  color: #424242;
}

/*-------******* Media Queries ******* -------*/
/*--- Mobile Devices ---*/
@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
  /* header and navigation part */
  nav,
  .nav-link {
    flex-direction: column;
  }
  .nav-link li {
    margin-top: 30px;
  }

  /* our features section */
  .our-features-section {
    flex-direction: column;
    padding: 10px;
  }
  .our-features-container {
    grid-template-columns: repeat(1, 1fr);
  }

  /* features list section */
  .features-list-section {
    flex-direction: column;
    padding: 10px;
  }
  .feature {
    overflow-y: scroll;
  }
  .button-special {
    display: none;
    /* position: absolute;
    left: 20%;
    bottom: -20%; */
  }

  /* (some facts):-> our success section */
  .our-success-section {
    padding: 10px;
  }
  .our-success-container {
    flex-direction: column;
  }
  .our-success {
    margin-bottom: 20px;
  }

  /* our sponsors section */
  .our-sponsors-container {
    flex-direction: column;
    row-gap: 20px;
  }

  /* contact us section  */
  .contact-us-section {
    padding: 10px;
  }
  .contact-us-container {
    flex-direction: column;
    row-gap: 20px;
  }
}
